<div style="display:inline-block;width:100%;overflow-y:auto;">
    <ul class="timeline timeline-horizontal">
        {{> weather_good_item}}
        {{> weather_good_item}}
        {{> weather_neutral_item}}
        {{> weather_good_item}}
        {{> weather_bad_item}}
        {{> weather_not_good_item}}
        {{> weather_not_good_item}}
        {{> weather_neutral_item}}
        {{> weather_bad_item}}
    </ul>
</div>