<li class="timeline-item">
    <div class="timeline-badge success"><i class="glyphicon glyphicon-cloud"></i></div>
    <div class="timeline-panel">
        <div class="col-sm-8">
            <div class="timeline-heading">
                <h4 class="timeline-title" style="color: #80ed3a">Neutral Condition</h4>
                <p><big class="text-muted"><i class="glyphicon glyphicon-time"></i>  {{time}}  </big></p>
                <p id="wind-text">High Tide</p>
            </div>
        </div>
        <div class="col-sm-4">
            <img src="/images/sun_windy.png" height="55px" width="55px"/>
            <p id="temperature-text">70°F</p>
            <p id="wind-text">3mph</p>
        </div>
    </div>
</li>