<li class="timeline-item">
    <div class="timeline-badge warning"><i class="glyphicon glyphicon-warning-sign"></i></div>
    <div class="timeline-panel">
        <div class="col-sm-8">
            <div class="timeline-heading">
                <h4 class="timeline-title" style="color: #eabb02">Poor Condition</h4>
                <p><big class="text-muted"><i class="glyphicon glyphicon-time"></i>  {{time}}  </big></p>
                <p id="wind-text">Low Tide</p>
            </div>
        </div>
        <div class="col-sm-4">
            <img src="/images/cloudy.png" height="55px" width="55px"/>
            <p id="temperature-text">63°F</p>
            <p id="wind-text">5mph</p>
        </div>
    </div>
</li>