<div style="display:inline-block;width:100%;overflow-y:auto;">
    <ul class="timeline timeline-horizontal">
        {{#each weatherData}}
            {{#ifCond this.temp.english "<=" 85}}
                {{> weather_good_item weather=this}}
            {{/ifCond}}
            {{#ifCond this.temp.english ">" 85}}
                {{> weather_neutral_item weather=this}}
            {{/ifCond}}
            {{#ifCond this.temp.english "<" 75}}
                {{> weather_neutral_item weather=this}}
            {{/ifCond}}
            {{#ifCond this.temp.english ">" 92}}
                {{> weather_poor_item weather=this}}
            {{/ifCond}}
            {{#ifCond this.temp.english "<" 65}}
                {{> weather_poor_item weather=this}}
            {{/ifCond}}
            {{#ifCond this.temp.english ">" 100}}
                {{> weather_bad_item weather=this}}
            {{/ifCond}}
            {{#ifCond this.temp.english "<" 60}}
                {{> weather_bad_item weather=this}}
            {{/ifCond}}
        {{/each}}
    </ul>
</div>