<!doctype html>

<html>
<head>
	<title>COGS120/CSE170 Skeleton</title>
	<link href = "/css/index.css" rel="stylesheet">

	<!-- Bootstrap -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
</head>

<body>
	<!-- Testing login -->
	<a href="/login/" type="button" class="btn btn-info btn-lg">Log in</a>

	<div class="center-vertical">
		<div>
			<!-- Option 1 --> 
			<h1 style="color:white;">What do you feel like doing today?</h2>

			<!-- The search bar -->
			<!--input id="searchBox" type="text" name="search" placeholder="Search location.."-->

			<!-- Google's search bar -->
<!-- 	<div>
		<script>
	  		(function() {
		    var cx = '007634263214480814907:eula1-au9jm';
		    var gcse = document.createElement('script');
		    gcse.type = 'text/javascript';
		    gcse.async = true;
		    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(gcse, s);
		  })();
		</script>
		<gcse:search></gcse:search>
	</div> -->

			<!-- Option 2 -->

			<h2 style="color:white; padding:10px;">Quick Hits</h2>
			<div class="row">
				<div style="color:white; padding:5px;">
					<a href="/map/surf" type="button" class="btn btn-info btn-lg">Surfing</a>
					"&nbsp""&nbsp"
					<a href="/map/hike" type="button" class="btn btn-info btn-lg">Hiking</a>
				</div>
			</div>
		</div>
	</div>

</body>
</html>