<!doctype html>

<html>
<head>
	<title>COGS120/CSE170 Skeleton</title>
	<link href = "/css/review.css" rel="stylesheet">
</head>
	<h1>{{activity}} Review Page</h1>
	<br>
	<h1><a href={{mapLink}}>Back to map</h2>
<body>
	
</body>
</html>