<!doctype html>

<html>
<head>
    <title>COGS120/CSE170 Skeleton</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">

    <link href = "/css/review.css" rel="stylesheet">

    <script src="../js/review.js"></script>

</head>

<body>
    {{> navigation}}


    <div class="container">

        <div class="row" style="padding:50px">
            <div>
                <h2 id="block-menu-sub-556-san-diego-beaches">San Diego Beaches</h2>
                <ul class="menu">
                    <li class="first leaf"><a href="/review/surf/blacks">Black&#039;s Beach</a></li>
                    <li class="leaf"><a href="/review/surf/pool">Children&#039;s Pool</a></li>
                    <li class="leaf"><a href="/review/surf/cove">La Jolla Cove</a></li>
                    <li class="leaf"><a href="/review/surf/shores">La Jolla Shores</a></li>
                    <li class="leaf"><a href="/review/surf/mbay">Mission Bay Beaches</a></li>
                    <li class="leaf"><a href="/review/surf/mb">Mission Beach</a></li>
                    <li class="leaf"><a href="/review/surf/northpb">North Pacific Beach</a></li>
                    <li class="leaf"><a href="/review/surf/ob">Ocean Beach</a></li>
                    <li class="leaf"><a href="/review/surf/pb">Pacific Beach</a></li>
                    <li class="leaf"><a href="/review/surf/smb">South Mission Beach</a></li>
                    <li class="last leaf"><a href="/review/surf/windan">Windansea Beach</a></li>
                </ul>
                <p>click to view review<p>
            </div>
        </div>
    </div>

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</body>
</html>