<!doctype html>

<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
	</script> 

	<script	src="../js/signup.js"></script>
</head>

<body>
	
	<h1>
		<a href="/" style="text-decoration:none;"> Sign Up </a>
	</h1>

	<br>

	<form onsubmit="checkForm(this)">
		Username: <input id="uname" type="text" name="username"><br>

		Email: <input id="email" type="text" name="email"><br>

		Password: <input id="txtNewPassword" type="password" name="pwd1"><br>

		Retype Password: <input id="txtConfirmPassword" type="password" name="pwd2" onChange="checkPasswordMatch();">

		<div id="checkPasswordMatch"></div><br>

		<input type="submit" value="Submit">
	</form>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-87618309-1', 'auto');
	  ga('send', 'pageview');

	</script>
	
</body>
</html>