<!doctype html>

<html>
<head>
	<title>COGS120/CSE170 Skeleton</title>
	<link href = "css/review.css" rel="stylesheet">
	<script src="routes/index.js"></script>
</head>
	<h1>{{activity}} Weather Page</h1>
	<br>
	<h1><a href={{mapLink}}>Back to map</h2>
<body>
	
</body>
</html>