* {
	margin: 0;
	padding: 0;
}

h2 {
	text-align: center;
	margin-bottom: 30px
}

h4 {
	font-style: italic;
	padding:10px;
	font: bold;
}


#searchBox {
	margin-left: 44%;
	margin-top: 20px;
	margin-bottom: 60px;
	//width: 50%;

}

.options {
	background-color: #87CEFA;
    color: white;
	padding: 4px;
	margin-bottom: 20px;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 30px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    //display: inline-block;
    //text-align: center;
}

.center-vertical {
	position: relative;
  	margin-top: 220px;
  	margin-bottom: 300px;
  	text-align: center;
}

body {
    background: url("/images/city_background5.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
    background-size: cover;
}