

#displayStatus {
	float: left;
	padding-right: 10px;
}

#currStatus {
	float: left;
	margin-top: 8px;
   //-webkit-text-stroke: 1px gray;
}

.rating {
	unicode-bidi: bidi-override;
	direction: rtl;
}
.rating > span {
	color: #f0ad4e;
	font-size: 50px;
	display: inline-block;
	position: relative;
	width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
	content: "\2605";
	position: absolute;
}

.rating #rated {
	text-shadow: 1px 1px #f0ad4e, 0 1px #f0ad4e, 1px 0 #f0ad4e, 0 -1px #f0ad4e;
}

#temperature-text {
	font-size: 40px;
	font-style: oblique;
	color: #656565;
}

#wind-text {
	font-size: 20px;
	font-style: oblique;
	color: #656565;
}







/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
}

/* Popup arrow */
.popup .popuptext::after {
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}