* {
	margin: 0;
	padding: 0;
}

/*input[type=text] {
	width: 30%;
	//margin: 0 45%;
	//float: left;
	display: inline-block;
	margin-right: 0;
	margin-left: 35%;
	margin-top: 20px;
	-webkit-transition: width 0.4s ease-in-out;
    transition: width 0.2s ease-in-out;
}*/
h2 {
	text-align: center;
	margin-bottom: 30px
}
#question {
	margin-top: 100px;
	text-align: center;
}

#searchBox {
	margin-left: 44%;
	margin-top: 20px;
	margin-bottom: 60px;
	//width: 50%;

}

.options {
	background-color: #87CEFA;
    color: white;
	padding: 4px;
	margin-bottom: 20px;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 30px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    //display: inline-block;
    //text-align: center;
}

#firstButton {
	margin-left: 42.5%
}
/*.options:hover, .options:focus {
	background-color: #3e8e41;
}*/